
<%= form_for(@user) do |f| %>
<div class="field">
  <%= f.label :name, "hier kannst du deinen Namen ändern" %><br />
  <%= f.text_field :name %>
</div>

    <div class="progress progress-striped active progress-danger">
      <div class="bar"
           style="width: 40%;"></div>
    </div>
    <div class="progress progress-striped active progress-warning">
      <div class="bar"
           style="width: 60%;"></div>
    </div>



<%end%>