<div class="page-header">
  <h2>Alle Schlafblogs<small> einfach auswählen</small></h2>
</div>
<table class="table table-striped table-bordered table-condensed">
  <thread>
    <tr>
      <th>Name</th>
    </tr>
  </thread>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= if_user_has_a_name(user)%>
      </td>

      <td>
        <%=  link_to 'Show', schlafposts_index_path(user.id), :class => "btn btn-mini btn-info" %>
      </td>
    </tr>
      <% end %>
  </tbody>
</table>

<%=  link_to 'neuer Schlafblog', new_schlafpost_path, :class => "btn btn-mini btn-success" %>
